@model MenuModel

@{
    ViewData["Title"] = "Создать меню";
}

<div class="container-content-common">
    <div class="content-block-standart-indent">
        <h1 class="font-family-1 h1-standart-page gold-text">Создать меню</h1>
    </div>

    <div class="content-block-standart-indent">
        <p class="middle-text font-family-2 gold-text paragraph">
            Все текстовые поля обязательны. Длина названий разделов меню не должна превышать 12 символов.
        </p>
    </div>

    <form asp-area="" asp-controller="Header" asp-action="CreateMenuPost" method="post">
        <div class="content-block-standart-indent preset-content-block">

            <div class="content-block-inner-2">
                <partial name="_MenuForm" model="@Model" />
            </div>

            <button class="button high-button" type="submit">
                <span class="large-text font-family-2 black-text">Создать меню</span>
            </button>
        </div>
    </form>
</div>