@model ServiceModel

@{
    var state = ViewData.ModelState;
    var disabled = ViewBag.IsChangeDisabled != null && ViewBag.IsChangeDisabled;
}

<input asp-for="Id" type="hidden" />

<div class="content-block-standart-indent preset-content-block">
    <div class="service-block">
        <div class="prompt-block">
            <label asp-for="ServiceName" class="large-text font-family-2 black-text">Название услуги</label>
        </div>

        <textarea asp-for="ServiceName" class="biggest-text font-family-2 text-area-max-width-resize-vertical service-text-area-name"
                  disabled="@disabled" placeholder="Вводи название сюда"></textarea>

        <div class="error-message-block">
            <span asp-validation-for="ServiceName" class="middle-text font-family-2 red-text"></span>
        </div>
    </div>

    <div class="service-block">
        <div class="prompt-block">
            <label asp-for="ServiceDescription" class="large-text font-family-2 black-text">Описание услуги</label>
        </div>

        <textarea asp-for="ServiceDescription" class="middle-text font-family-2 text-area-max-width-resize-vertical service-text-area-description"
                  disabled="@disabled" placeholder="Вводи описание сюда"></textarea>

        <div class="error-message-block">
            <span asp-validation-for="ServiceDescription" class="middle-text font-family-2 red-text"></span>
        </div>
    </div>

    <div class="service-block">
        <div class="blog-published-block">
            <input asp-for="IsPublished" class="select-point" disabled="@disabled" />
            <label asp-for="IsPublished" class="middle-text font-family-2 black-text">&#10084; Опубликовать услугу</label>
        </div>
    </div>
</div>

